.home-wrapper {
  padding: 2rem;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filter-input,
.filter-select {
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 200px;
  max-width: 300px;
  outline: none;
  transition: border-color 0.3s ease;
}

.filter-input:focus,
.filter-select:focus {
  border-color: #ef5350;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  max-width: 1200px; /* limita o tamanho total da grid */
  margin: 0 auto;
}
