.pokemon-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.08);
}

.pokemon-card img {
  width: 150px;  /* antes 100px */
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.75rem;
}

.pokemon-card h3 {
  font-size: 1.5rem;  /* maior que antes */
  margin: 0;
  color: #333;
}
